
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');
.landing header{
  font-family: 'montserrat';
  height:100%;
  margin-top:0px;
  color:white;
  background-image:
    linear-gradient(
      45deg,
       #4B4A4A,#292929
      
    );
}

section .landing {
  height:100%;
  width:100%;
  background-image:
    linear-gradient(
      45deg,
      
       #4B4A4A,#292929 
    );
}

