
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,500');
/* .landing header{
  text-align:left;
  grid-column: 2 / span 5;
  grid-row: first-line/1;
  font-family: 'montserrat';
  height:100%;
  margin-top:0px;
  color:white;
  font-size:1.5rem;
  letter-spacing: 0.1rem;
} */

.selling-points{
  margin-top:20%;
  text-align: center;
  grid-column: 3 / span 1;
  grid-row: second-line / 1;
  justify-self: center;
}

.point-description{
  grid-column: 3 / span 1;
  grid-row:  row3-start;
}

.landing {
  display:grid;
  grid-template-columns:10% 10% 60% 10% 10%;
  grid-template-rows: 20% 10% 20% 10% 20% 10% auto;
  text-align: center;
  height:50%;
  width:100%;
  background-image:
    radial-gradient(
      ellipse closest-side,
      #4B4A4A , #292929
    );
}

h1 {
  color:#FF6CCC;
  font-size:5rem;
  font-family: 'Montserrat';
  font-weight:700;
  margin-bottom:0px;
}

p {
  color:#707070;
  font-size:1.25rem;
  font-family: 'Montserrat';
  padding-bottom:100%;
  line-height: 2.6rem;
}

.go-to-album{
  grid-column: 3 / span 1;
  grid-row: 9;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 2rem;
  color: #fff;
  line-height: 1.5rem;
  text-align: center;
  background: #000
}
