@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');

.App {
  text-align: center;
  height:100%;
}

.tagLine{
  color:black;
  font-family: 'Montserrat';
  font-weight:700;
  font-size: 100px;
}

